* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(72, 61, 224);
}

.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
}

.login h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.login form{
    font-size: 15px;
}

.login form .form-group{
    font-size: 20px;
    margin-top: 15px;
}
